.item-list-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 32px;
}

.item-list-container-parent > h3 {
  font-family: "Volkhov", serif;
  font-size: 32px;
  font-weight: 600;
}

.item-list {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.item-count {
  display: flex;
  font-family: "Titillium Web", sans-serif;

  margin: 4px;
  padding: 0 8px;
  border-radius: 4px;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #fff;
}

.item-count p {
  margin-top: 18px;
}

.button-count {
  display: flex;

  width: 24px;
  height: 24px;

  margin: 4px;

  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 3px;
  border: 1px solid #967eff;
  color: #fff;

  background-color: #3011bc;
}

.button-count:hover {
  border-radius: 3px;
  border: 1px solid #beb0fd;
  background-color: #6957bb;
}

.button-4 {
  width: 128px;
  height: 50px;

  margin: 0 16px;
  padding: 4px 12px;
  border: 0;
  border-radius: 16px;

  font-weight: normal;
  color: #fff;

  background: #3011bc;
}
