.item-detail-child-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 58%;
  margin-bottom: 32px;

  filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.15));
}

.title {
  display: flex;
  align-items: flex-start;

  width: 100%;

  font-weight: bold;
}

.sub-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;

  font-weight: lighter;
  color: #6b6b6b;
}

.img-container {
  display: flex;
  width: 100%;
  height: 512px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.img-detail {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.description-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}

.description-left-side {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.description-right-side {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 250px;
}

.description-detail-right-side {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 80%;
  height: 200px;
}

.button-5 {
  width: 100%;
  border-radius: 6px;
  border: 1 rgb(211, 211, 211);
}
