.item-detail-child-container {
  display: flex;
  flex-direction: row;

  width: 1000px;
  height: 700px;

  margin-bottom: 32px;

  color: #5e6282;

  border-radius: 24px 2.5px 24px 2.5px;
  filter: drop-shadow(0px 10px 12px #00000026);
}

/* ls parent */
.left-side-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 0px 0px 0px 2.5px;
}

/* ls top */
.ls-top-container {
  height: 60%;
  border-radius: 24px 0;
}

.ls-top-container > .img-detail {
  width: 100%;
  height: 100%;
  border-radius: 24px 0 0;
}

/* ls bottom */
.ls-bottom-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  line-height: 0.5;
  height: 40%;
  background-color: #fff;
  border-radius: 0px 0px 0px 2.5px;
}

/* rs parent */
.right-side-container {
  display: flex;
  flex-direction: column;

  width: 30%;
  border-radius: 0px 2.5px 24px 0px;
  background-color: #e5e5e5;
}

/* rs top */
.rs-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60%;
  border-radius: 0px 2.5px 0px 0px;
}

.rs-top-container > h3 {
  font-size: 36px;
  font-weight: 600;
}

.rs-top-container > .light-p {
  color: #a7a7a7;
}

/* rs bottom */
.rs-bottom-container {
  height: 40%;
  border-radius: 0px 0px 24px 0px;
}
