.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 72px;
  width: -webkit-fill-available;
  padding-left: 4px;
  padding-right: 4px;

  font-size: 12px;

  background-color: #fff;
}

.header-logo {
  margin-left: 24px;
  width: 90px;
  height: 45px;
}

/* NavBar */
.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin: 0 16px;
}

.right-side-header {
  display: flex;
}

/* Buttons */
.button-1 {
  border: 0;
  color: #757575;

  font-weight: 800;

  background: none;
}

.button-1:hover {
  color: #39d399;
}

.button-2 {
  border: 0;
  color: #39d399;

  font-weight: 800;

  background: none;
}

.button-3 {
  margin: 0 16px;
  padding: 4px 12px;

  border: 1px solid #3011bc;
  border-radius: 6px;

  color: #3011bc;

  font-weight: 800;

  background: none;
}

.rotate {
  transform: rotate(90deg);
}

.cart-widget-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.cart-widget-container > .button-2 {
  margin: 0;
}

.cart-items-number {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  border-radius: 25px;

  height: 18px;
  width: 18px;

  font-size: 12px;
  font-weight: 800;

  color: #fff;
  background-color: #39d399;
}
