.item-detail-child-container {
  display: flex;
  flex-direction: row;

  width: 1000px;
  height: 700px;

  margin-bottom: 32px;

  color: #5e6282;

  border-radius: 24px 2.5px 24px 2.5px;
  filter: drop-shadow(0px 10px 12px #00000026);
}

/* ls parent */
.left-side-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 24px 0px 0px 24px;
  background-color: #fff;
}

.ls-column {
  display: flex;
  padding: 28px 60px 28px 20px;
  padding-left: 20px;
}

.ls-side-text {
  width: 600px;
}

.ls-side-text > h2 {
  font-size: 24px;
  font-weight: bolder;
}

.ls-side-text > h3 {
  font-size: 18px;
  font-weight: bolder;
}

.ls-side-detail {
  display: flex;
  flex-direction: column;
}

.form > h3 {
  font-size: 18px;
  font-weight: bolder;
}

.form-input {
  width: 100%;
  height: 50px;

  margin: 4px 0;
  padding: 8px;

  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.input-name {
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  margin: 0;
}

.input-lastname {
  border-radius: 0 0 8px 8px;
  margin: 0;
}

::placeholder {
  color: #aeb0c0;
}

.submit-button {
  width: 100%;
  height: 50px;

  margin-top: 24px;

  font-weight: bold;
  font-size: 18px;

  color: #fff;
  border-radius: 8px;
  background-color: #3011bc;
}

/* rs parent */
.right-side-container {
  display: flex;
  width: 30%;
  padding-top: 30px;
  border-radius: 0px 24px 24px 0px;

  font-size: 14px;

  background-color: #e5e5e5;
}

.rs-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-detail {
  display: flex;
  width: 230px;
  height: 230px;
  margin-bottom: 20px;
  border-radius: 24px;
}

.side-text {
  width: 230px;
}

.side-detail {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
}
