body {
  background-color: #daf8e8;
}

.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-left: 4px;
  padding-right: 4px;
  
  background-color: #fff;
}

.header-logo {
  margin-left: 4px;
  width: 96px;
  height: 48px;
}

.header-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.header-cart-button {
  position: absolute; /* Corregir */
  right: 128px;

  /* Non-Style-Button */
  background: none;
  border: 0;
  color: gray;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

.item-list {
  display: flex;
  
  width: 512px;
  height: 64px;
  margin: 8px;
  
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #e6e3e3;
}

